.Container {
  height: 100%;
}

.ToDo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  padding: 16px;
  margin: auto;
  overflow: auto;
}

.ToDo__Item {
  display: flex;
  align-items: center;
}

.ToDo__Text {
  flex: 1;
  overflow: hidden;
}

.ToDo__Text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ToDo__Body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.ToDo__Footer {
  display: flex;
  flex-direction: column;
}

.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.Form {
  display: flex;
}

.FullWidth {
  flex: 1;
}

.TextField + .Button {
  margin-left: 8px;
}

.Center {
  margin: auto;
}