.Container {
  /*  display: flex !important; +  margin: auto;(.ToDO) and overflow: hidden;(.ToDo)*/
  display: flex !important;
  height: 100%;
}

.ToDo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  padding: 16px;
  margin: auto 0;
  overflow: hidden;
}

.ToDo__Item {
  display: flex;
  align-items: center;
}

.ToDo__Item:not(:last-child) {
  margin-bottom: 8px;
}

.ToDo__Text {
  flex: 1;
  overflow: hidden;
}

.ToDo__Text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ToDo__Body {
  flex: 1;
  overflow: auto;
  margin: 8px 0;
}

.ToDo__Footer {
  display: flex;
  flex-direction: column;
}

.Form {
  display: flex;
}

.FullWidth {
  flex: 1;
}

.TextField + .Button {
  margin-left: 8px;
}

.Center {
  margin: auto;
}